<p><%= __("title") %>: <%= post.title %></p>
<p>Topic:  <%= post.topic %></p>
<p><%= __("content") %>: <%= post.content %></p>
<p><%= __("author") %>: <%= JSON.stringify(post.author) %></p>
<p><%= __("created") %>: <%= post.createdAt %></p>
<p><%= __("updated") %>: <%= post.updatedAt %></p>
<p><%= __("public") %>: <%= post.public %></p>
<p><%= __("published") %>: <%= post.publishedAt %></p>
<p><%= __("total_views") %>: <%= post.totalViews %></p>
<p><%= __("unique_views") %>: <%= post.uniqueViews %></p>

<% if (highlightedComment) { %>
    <p><%= JSON.stringify(highlightedComment) %></p>
<% } %>

<p><%= __("likes") %>: <span id="likes-count"><%= post.likes %></span></p>

<% if (post.liked) { %>
    <button id="like-post" class="button hidden"><%= __("like") %></button>
    <button id="unlike-post" class="button"><%= __("unlike") %></button>
<% } else { %>
    <button id="like-post" class="button"><%= __("like") %></button>
    <button id="unlike-post" class="button hidden"><%= __("unlike") %></button>
<% } %>

<div id="comments">
    <%= __("loading") %>
</div>

<% if (user.authenticated) { %>
    <label for="comment-content"><%= __("write_a_comment") %></label>
    <textarea id="comment-content" placeholder="<%= __("write_a_comment") %>"></textarea>
    
    <button id="comment-submit"><%= __("post_comment") %></button>
<% } %>

<% var _required_locale=["write_a_comment", "loading", "like", "unlike", "comment_deleted", "title", "content", "author", "created", "updated", "public", "published", "total_views", "unique_views", "likes", "reply", "enter_comment", "cancel", "post_comment"] %>
<script>
    const postId = '<%= post.postId %>';
    const comments = JSON.parse('<%- JSON.stringify(post.comments) %>'); // Gives no error
    const highlightedComment = '<%- highlightedComment %>';
        
    const _locales_data = JSON.parse('<%- JSON.stringify(_required_locale.map(x => ({ key: x,  value: __(x) }))) %>'); // Ugly, but prevents eslint errors
    const locales_data = {};
    _locales_data.forEach(x => locales_data[x.key] = x.value);
    function __(key) {
        const value = locales_data[key];
        if (value) {
            return value;
        }
        return key;
    }
</script>