<label for="post-title">Title</label>
<input type="text" data-value="<%- post.title %>" value="<%- post.title %>" id="post-title" name="post-title" placeholder="Title" />

<label for="post-content">Content</label>
<textarea id="post-content" name="post-content" data-value="<%- post.content %>" placeholder="Content"><%- post.content %></textarea>

<p id="unsavedChanges" style="display: none;">Unsaved changes <a id="saveChanges">Save now</a></p>

<script>
    const postId = "<%= post.postId %>";
</script>