<p>Title: <%= post.title %></p>
<p>Topic:  <%= post.topic %></p>
<p>Content: <%= post.content %></p>
<p>Author: <%= JSON.stringify(post.author) %></p>
<p>Created: <%= post.createdAt %></p>
<p>Updated: <%= post.updatedAt %></p>
<p>Public: <%= post.public %></p>
<p>Published: <%= post.publishedAt %></p>