<p>Title: <%= post.title %></p>
<p>Topic:  <%= post.topic %></p>
<p>Content: <%= post.content %></p>
<p>Author: <%= JSON.stringify(post.author) %></p>
<p>Created: <%= post.createdAt %></p>
<p>Updated: <%= post.updatedAt %></p>
<p>Public: <%= post.public %></p>
<p>Published: <%= post.publishedAt %></p>
<p>Total Views: <%= post.totalViews %></p>
<p>Unique Views: <%= post.uniqueViews %></p>

<% if (highlightedComment) { %>
    <p><%= JSON.stringify(highlightedComment) %></p>
<% } %>

<p>Likes: <span id="likes-count"><%= post.likes %></span></p>

<% if (post.liked) { %>
    <button id="like-post" class="button hidden">Like</button>
    <button id="unlike-post" class="button">Unlike</button>
<% } else { %>
    <button id="like-post" class="button">Like</button>
    <button id="unlike-post" class="button hidden">Unlike</button>
<% } %>

<div id="comments">
    <% if (post.comments && post.comments.length > 0) { %>
        <% post.comments.forEach(comment => { %>
            <p><%= JSON.stringify(comment) %></p>
        <% }) %>
    <% } else { %>
        <p>No comments yet</p>
    <% } %>
</div>

<% if (user.authenticated) { %>
    <label for="comment-content">Write a comment</label>
    <textarea id="comment-content" placeholder="Write a comment"></textarea>

    <label for="comment-parent">Parent</label>
    <input id="comment-parent" type="text" placeholder="Parent ID">
    
    <button id="comment-submit">Submit</button>
<% } %>

<script>
    const postId = '<%= post.postId %>';
</script>