<label for="post-title"><%= __("title") %></label>
<input type="text" data-value="<%- post.title %>" value="<%- post.title %>" id="post-title" name="post-title" placeholder="<%= __("title") %>" />

<label for="post-content"><%= __("content") %></label>
<textarea id="post-content" name="post-content" data-value="<%- post.content %>" placeholder="<%= __("content") %>"><%- post.content %></textarea>

<p id="unsavedChanges" style="display: none;"><%= __("unsaved_changes") %> <a id="saveChanges"><%= __("save_now") %></a></p>

<script>
    const postId = "<%= post.postId %>";
</script>