<form id="register-form">
    <input id="email" type="email" placeholder="<%= __("email") %>" autocomplete="email" />
    <br>
    <input id="password" type="password" placeholder="<%= __("password") %>" autocomplete="new-password" />
    <br><br>
    <input type="text" id="username" placeholder="<%= __("username") %>" autocomplete="username"/>
    <br><br>
    <input type="submit" id="register" value="<%= __("register") %>"/>
</form>

<p><%= __("already_have_account") %><a href="/login"><%= __("login") %></a></p>

<script>
    const redirect = new URLSearchParams(window.location.search).get("redirect") || "/";

    document.getElementById("register").addEventListener("click", async (e) => {
        e.preventDefault();

        const email = document.getElementById("email").value;
        const password = document.getElementById("password").value;
        const username = document.getElementById("username").value;
        
        const success = await register(email, password, username);
        if (success) window.location.href = redirect;
        else alert("Registration failed");
    });
</script>