<p><%= __("tag") %>: <%= tagInfo.name %></p>
<p><%= __("description") %>: <%= tagInfo.description %></p>

<div id="posts"></div>
<button id="load-more-posts"><%= __("load_more") %></button>

<script>const tagName = "<%= tagInfo.name %>"</script>