<div class="name-and-avatar">
    <img src="<%= profile.avatar %>" alt="avatar" />
    <div class="names">
        <p class="name">
            <%= profile.displayName %>
        </p>
        <p class="username">
            @<%= profile.username %>
        </p>
    </div>
</div>

<div class="bio-wrapper">
    <% for (const line of profile.bio.split("\n")) { %>
        <p>
            <%= line %>
        </p>
        <% } %>
</div>

<div class="info">
    <p>
        <%= profile.pronounce %>
    </p>

    <p>Joined on <%= profile.createdAt %></p>
</div>