<div class="name-and-avatar">
    <img src="<%= profile.avatar %>" alt="avatar" />
    <div class="names">
        <p class="name">
            <%= profile.displayName %>
        </p>
        <p class="username">
            @<%= profile.username %>
        </p>
    </div>
</div>

<div class="bio-wrapper">
    <% for (const line of profile.bio.split("\n")) { %>
        <p>
            <%= line %>
        </p>
        <% } %>
</div>

<div class="info">
    <p>
        <%= profile.pronounce %>
    </p>

    <p>Joined on <%= profile.createdAt %></p>
</div>

<div class="posts">
    <% if (profile.posts.length > 0) { %>
        <% for (const post of profile.posts) { %>
            <div class="post">
                <h2><a href="/posts/<%= post.postId %>"><%= post.title %></a></h2>
                <p><%= post.topic %></p>
                <p><%= post.createdAt %></p>
                <p><%= post.updatedAt %></p>
                <p><%= post.public %></p>
            </div>
        <% } %>
    <% } else { %>
        <p>No posts</p>
    <% } %>
</div>