<div class="name-and-avatar">
    <img src="<%= profile.avatar %>" alt="avatar" />
    <div class="names">
        <p class="name">
            <%= profile.displayName %>
        </p>
        <p class="username">
            @<%= profile.username %>
        </p>
    </div>
</div>

<div class="bio-wrapper">
    <% for (const line of profile.bio.split("\n")) { %>
        <p><%= line %></p>
    <% } %>
</div>

<div class="info">
    <p><%= profile.pronounce %></p>

    <p>Joined on <%= profile.createdAt %></p>

    <p>Location: <%= profile.location %></p>
</div>

<div class="followers">
    <p>Followers: <%= profile.followerAmount %></p>
    <p>Following: <%= profile.followingAmount %></p>

    <% if (user.authenticated && user.username != profile.username) { %>
        <% if (profile.isFollowing) { %>
            <button id="follow-user" data-following="true" class="follow-button unfollow-button">Unfollow</button>
        <% } else { %>
            <button id="follow-user" data-following="false" class="follow-button">Follow</button>
        <% } %>
    <% } %>
</div>

<div class="posts">
    <h1>Posts:</h1>
    <% if (profile.posts.length > 0) { %>
        <% for (const post of profile.posts) { %>
            <div class="post">
                <h2><a href="/posts/<%= post.postId %>"><%= post.title %></a></h2>
                <p>topic: <%= post.topic %></p>
                <p>Created: <%= post.createdAt %></p>
                <p>Updated: <%= post.updatedAt %></p>
                <p>Public: <%= post.public ? "yes" : "no" %></p>
            </div>
        <% } %>
    <% } else { %>
        <p>No posts</p>
    <% } %>
</div>

<div class="comments" id="comments"></div>
<button id="loadMoreComments">Load more...</button>

<script>const username = "<%= profile.username %>";</script>